{% extends "layout.html" %}
{% set active_page = "favorites" %}

{% block title %}
Favorites
{% endblock %}
{% block content %}
  <h1>Favorites Management</h1>

  <div>
    <div class="mb-2">
      <div class="d-sm-inline-block">
        <label for="slfavorites" class="form-label"><small>select favorite list</small></label>
        <select name="favorites" id="slfavorites" class="form-control max-width-12-sm">
            {% for favoritelistinternal in favoritelists %}
            <option {% if favoritelistinternal.favoritelist==favoritelist %}selected{% endif %} value="{{ favoritelistinternal.favoritelist.uuid|string }}" >{{favoritelistinternal.name}}</option>
            {% endfor %}
        </select>
        </div>
      <div class="btn-group">
        <button class="btn btn-primary btn-sm mb-2" id="favlistadd" type="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Create new favorite list.">
          <img src="{{url_for("static", filename="plus.svg")}}" width="15em" height="15em" />
        </button>
    </div>
    <hr />
    <div  id="favcontent">
      {% include "favoritelistcontent.html" %}
    </div>
  </div>

{% endblock %}
