{% set active_page = active_page|default(0) -%}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='raspifm.css')}}" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-raspicolor">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('home') }}">ICON TBD</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link {{ 'active' if active_page == 0 }}"{% if active_page == 0 %} aria-current="page"{% endif %} href="{{ url_for('home') }}">Home</a>
            <a class="nav-link {{ 'active' if active_page == 1 }}"{% if active_page == 0 %} aria-current="page"{% endif %} href="{{ url_for('favorites') }}">Favorites</a>
            <a class="nav-link {{ 'active' if active_page == 2 }}"{% if active_page == 0 %} aria-current="page"{% endif %} href="{{ url_for('stationsearch') }}">Station Search</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container position-relative">
      <div class="customtoastcontainer d-flex justify-content-end p-3 float-end">
        <div id="errortoast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="me-auto">Error!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div id="errortoastContent" class="toast-body">
            Something went wrong:
          </div>
        </div>
      </div>
      {% block content %}
      {% endblock %}
      <hr/>
      <footer>
          <p>&copy; 2024</p>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='raspifm.js')}}"></script>
    {% if active_page == 1 or active_page == 2 %}
     <script>
      initToolTips();
      {% if active_page == 1 %}
        initFavListMgmt();
      {% endif %}
      {% if active_page == 2 %}
        initStationSearch();
      {% endif %}
     </script>
    {% endif %}
  </body>
</html>