[Desktop Entry]
Type=Application
Name=raspiFM
Exec=sh -c "cd /usr/bin/local/raspifm; /usr/bin/local/raspifm/.venv/bin/python3 -m gunicorn --workers 1 --bind unix:/usr/bin/local/raspifm/raspifm.sock -m 007 app:app"